<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../lib/phpunit/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="local_ws_quiz_search_attempt_test_suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit> 